<footer>
    <div class="footer-container">
        <div >
            <div class="footer-logo">
                <a href="https://www.flowquest.net"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/flowquest-logo-color-bg.svg" alt="Flowquest"/></a>
            </div>
        
        </div>
        <div class="footer-address-text">
            <p><b>Flowquest Limited</b><br>
                Kemp House<br>
                160 City Road<br>
                LONDON<br>
                EC1V 2NX</p>
            <p><b>Flowquest Pte Ltd</b><br>
                4102 Ang Mo Kio Ave 10<br>
                TECHplace1 #05-09/10<br>
                SINGAPORE<br>
                569628</p>
        </div>
            <div >
                <p><b>Follow Us</b></p>
                <ul class="social-icons">
                    <li><a href="https://www.linkedin.com/company/flowquest-limited" target="_blank"><span
                            class="fab fa-linkedin"></span> LinkedIn</a></li>
                    <li><a href="https://bsky.app/profile/rallen2010.bsky.social" target="_blank"><span
                            class="fab fa-bluesky"></span> BlueSky</a></li>
                </ul>
                <p>
                    <p><b>Contact Us</b></p>
                    <p class="text-x-small" style="margin-top: 5px;"><a href="mailto:info@flowquest.net"
                        style="color:#696a79;">info@flowquest.net</a></p>                    
            </div>
        </nav>
    </div>
</footer>