<div class="team-members">
   {% for member in page.members %}
      <div class="member-card">
         <div class="member-picture-container">
            <img class="member-picture" src="{{ site.url }}{{ site.baseurl }}{{ member.image }}">
         </div>
         <div class="member-name">{{ member.name }}</div>
         <div class="member-bio">{{ member.bio }}</div>
         {% if member.links %}
            <div class="member-links">
               {% for link in member.links %}
               <div class="member-link">
                  <a href="{{ link.url }}" target="_blank">
                     <i class="{{ link.icon }}"></i>
                     <span class="link-label">{{ link.label}}</span>
                  </a>
               </div>
               {% endfor %}
            </div>
         {% endif %}
      </div>
   {% endfor %}
</div>