---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


html {
  
  @include breakpoint($large) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 18px; // change to whatever
  }
}

@include breakpoint($medium) {
  .feature__item--left .archive__item,
  .feature__item--right .archive__item {
    display: flex;
    align-items: center;
  }

  .feature__item--left .archive__item-teaser,
  .feature__item--right .archive__item-teaser,
  .feature__item--left .archive__item-body,
  .feature__item--right .archive__item-body {
    float: none;
    margin-bottom: 0;
  }

  .feature__item--left .archive__item-teaser,
  .feature__item--right .archive__item-teaser {
    flex: 0 0 40.6779661017%;
    width: 40.6779661017%;
  }

  .feature__item--left .archive__item-body,
  .feature__item--right .archive__item-body {
    flex: 0 0 57.6271186441%;
    width: 57.6271186441%;
  }

  .feature__item--right .archive__item {
    flex-direction: row-reverse;
  }
}